html {
  background-color: #0B0C10;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding-bottom: 20px;
}

header {
  padding: 20px;
  text-align: center;
}

a+a {
  margin-left: 10px;
}
#name {
  border:2px solid #c5c6c7; 
  border-radius: 25px;
  padding:10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 10px;
}
#nvb {
  background-color: #1f2823;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}
#namelink {
  text-decoration: none;
  color: #c5c6c7;
}
#wrapper {
  color:#c5c6c7;
}
main {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: #66FCF1;
  font-weight: bold;
}

h2 {
  font-family: Georgia, sans-serif;
  font-size: 2em;
  color: #66FCF1;
  font-weight: bold;
}

h3 {
  font-family: Georgia, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(210, 217, 220);
  font-weight: unset;
}

p,
label {
  color: #c5c6c7;
}

li {
  color: #c5c6c7;
  margin-bottom: 5px;
  padding-top: 5px;
}
nav {
  color: rgb(0,40,60);
}
a {
  text-decoration: underline;
  color: #c5c6c7;
}
a.navbar {
  padding-right: 3px;
}
nav a:hover {
  color: red;
}
footer {
  padding-top: 20px;
  text-align: center;
}

/* cookie clicker */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.columncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cookiecolumn {
  flex: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.shop {
  padding: 10px;
  box-sizing: border-box;
}

.upg {
  height: 80px;
  width: 80px;
  box-sizing: border-box;
}

button.shop .object-data {
  position: absolute;
  text-align: left;
  background: black;
  padding: 10px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  color: #fff;
  width: 100px;
}

button.shop:hover .object-data {
  opacity: 1;
}

button.upg .object-data {
  position: absolute;
  text-align: left;
  background: black;
  padding: 10px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  color: #fff;
  width: 80px;
}

button.upg:hover .object-data {
  opacity: 1;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}