html {
  background-color: #0B0C10; 
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding-bottom: 20px;
}
header {
  padding: 20px;
  text-align: center;
}
a + a {
  margin-left: 10px;
}
#nvb {
  background-color: #1f2823;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}
#name {
  border:2px solid #c5c6c7; 
  border-radius: 25px;
  padding:10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 10px;
}
#namelink {
  text-decoration: none;
  color: #c5c6c7;
}
#wrapper {
  color:#c5c6c7;
}
.bold {
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}
.column {
  padding: 0 10px 0 10px;
  border-radius:25px;
  flex:50%;
  background-color:#1f2823; 
}
.column + .column {
  margin-left: 20px;
}
.awardcolumn + .awardcolumn {
  margin-top: 20px;
}
.awardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.awardcolumn {
  border-radius: 25px;
  padding: 0 10px 0 10px;
  background-color:#1f2823; 
}
main {
  width: 60%;
  margin: 0 auto;
}
h1 {
  font-family: Cambria, serif;
  font-size: 2em;
  color: #66FCF1; 
  font-weight: bold;
}
#intro {
  font-size: 100px;
  text-align: center;
}
h2 {
  font-family: Georgia, sans-serif;
  font-size: 2em;
  color: #66FCF1; 
  font-weight: bold;
}
h3 {
  font-family: Georgia, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(210,217,220);
  font-weight: unset;
}
p {
  line-height: 1.5;
  color: #c5c6c7; 
}
li {
  color: #c5c6c7;
  margin-bottom: 5px;
  padding-top:5px;
}
label {
  color: #c5c6c7;
}
nav {
  color: rgb(0,40,60);
}
a {
  text-decoration: underline;
  color: #c5c6c7;
}
a.navbar {
  padding-right: 3px;
}
nav a:hover {
  color: red;
}
footer {
  padding-top: 20px;
  text-align: center;
}